:root {
    --one-p-color: hsl(260, 100%, 95%);
    --icon-color: hsl(264, 82%, 80%);
    --content-shadow: hsl(0, 0%, 81%);
    --one-bg: hsl(263, 55%, 52%);
    --three-five-bg: hsl(0, 0%, 100%);
    --primary-bg-color: hsl(214, 17%, 92%);
    --two-p-color: hsl(0, 0%, 81%);
    --four-p-color: hsl(224, 10%, 45%);
    --three-five-p-color: hsl(217, 19%, 35%);
    --two-bg: hsl(219, 29%, 14%);
    --four-bg: hsl(0, 0%, 7%);

    --ff: 'Barlow Semi Condensed', sans-serif;
    --fs: .8125rem;
    --fw-med: 500;
    --fw-lrg: 600;

    /* content styles */
    --content-br: .25rem;
    --content-padding: 2rem;
}

/* #region reset */
*::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    min-height: 100vh;
}

input, button, textarea, select{
    font: inherit;
}

img, picture, video,canvas, svg {
    display: block;
    max-width: 100%;
}
/* #endregion reset */

/*general styles*/
body {
    background-color: var(--primary-bg-color);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-med);

    display: grid;
    place-content: center;   
}

/* specific styles */

/* #region content */
.content {
    display: grid;
    margin: 2rem;
    gap: 2rem;
}

.one {
    grid-column: 1;

    background-color: var(--one-bg);
    color: var(--one-p-color);
    border-radius: var(--content-br);
    box-shadow: 1rem 1rem 4rem .5rem var(--content-shadow);
    
    padding: var(--content-padding);
}

.two {
    grid-column: 1;

    background-color: var(--two-bg);
    color: var(--two-p-color);
    border-radius: var(--content-br);
    box-shadow: 1rem 1rem 4rem .5rem var(--content-shadow);

    padding: var(--content-padding);   
}
.three {
    grid-column: 1;

    background-color: var(--three-five-bg);
    color: var(--three-five-p-color);
    border-radius: var(--content-br);
    box-shadow: 1rem 1rem 4rem .5rem var(--content-shadow);

    padding: var(--content-padding);
}
.four {
    grid-column: 1;

    background-color: var(--four-bg);
    color: var(--four-p-color);
    border-radius: var(--content-br);
    box-shadow: 1rem 1rem 4rem .5rem var(--content-shadow);

    padding: var(--content-padding);
}
.five {
    grid-column: 1;

    background-color: var(--three-five-bg);
    color: var(--three-five-p-color);
    border-radius: var(--content-br);
    box-shadow: 1rem 1rem 4rem .5rem var(--content-shadow);

    padding: var(--content-padding);
}
/* #endregion */

/* #region profile */
.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.avatar{
    border: solid var(--icon-color) .2rem;
    border-radius: 100%;
    height: 1.75rem;
}

.name{
    line-height: 110%;
    margin-bottom: .25rem;
}

.title{
    line-height: 110%;
    font-size: .6875rem;
}

.highlight{
    line-height: 120%;
    font-size: 1.25rem;
    margin: 1rem 0 1rem 0;
}

.comment{
    line-height: 140%;
}
/* #endregion */

/* media queries */
@media (min-width: 48rem){
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 40.4375rem;
    gap: 1rem;
}

.one {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.five {
    grid-column: 1 / span 2;
    grid-row: 4;
}    
}

@media (min-width: 49rem) {
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 69.625rem;
    gap: 1rem;
}

.one {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.two {
    grid-column: 3;
    grid-row: 1;
}

.three {
    grid-column: 1;
    grid-row: 2;
}

.four {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.five {
    grid-column: 4;
    grid-row: 1 / span 2;
}
}

footer { 
    font-size: .75rem; 
    text-align: center; }
footer a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); }