:root {
    --primary-bg-color: hsl(214, 17%, 92%);        /* Grey 100 */
    --content-shadow: hsl(0, 0%, 81%);             /* Grey 200 */

    --one-name-p-color: hsl(0, 0%, 100%);          /* White */
    --one-t-bq-color: hsl(260, 100%, 95%);         /* Purple 50 */
    --one-bg: hsl(263, 55%, 52%);                  /* Purple 500 */
    --icon-color: hsl(264, 82%, 80%);              /* Purple 300 */

    --two-bg: hsl(217, 19%, 35%);                  /* Grey 500 */
    --two-name-p-color: hsl(0, 0%, 100%);          /* White */
    --two-t-bq-color: hsl(214, 17%, 92%)             /* Grey 100 */

    --three-five-bg: hsl(0, 0%, 100%);               /* White */
    --three-five-name-p-color: hsl(217, 19%, 35%); /* Grey 500 */
    --three-five-t-bq-color: hsl(224, 10%, 45%);   /* Grey 400 */

    --four-bg: hsl(219, 29%, 14%);                 /* Dark Blue */
    --four-name-title-color: hsl(0, 0%, 100%);     /* White */
    --four-highlight-color: hsl(0, 0%, 81%);       /* Grey 200 */
    --four-bq-color: hsl(214, 17%, 92%);           /* Grey 100 */

    --ff: 'Barlow Semi Condensed', sans-serif;
    --fs: .8125rem;
    --fw-med: 500;
    --fw-lrg: 600;

    /* content styles */
    --content-br: .5rem;
    --content-padding: 2rem;
}

/* #region reset */
*::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    min-height: 100vh;
}

input, button, textarea, select{
    font: inherit;
}

img, picture, video,canvas, svg {
    display: block;
    max-width: 100%;
}
/* #endregion reset */

/*general styles*/
body {
    background-color: var(--primary-bg-color);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-med);

    display: grid;
    place-content: center;   
}

/* specific styles */

/* #region content */
.content {
    display: grid;
    margin: 2rem;
    gap: 2rem;
}

.card{
    grid-column: 1;

    border-radius: var(--content-br);
    box-shadow: .5rem .5rem 1.5rem .25rem var(--content-shadow);
    
    padding: var(--content-padding);
}

.one {
    background: var(--one-bg) url(images/bg-pattern-quotation.svg) no-repeat right 3.75rem top;
    color: var(--one-name-p-color);

    .title, blockquote{
        color: var(--one-t-bq-color);
    }

    .avatar{
    border: solid var(--icon-color) .125rem;
    }
}

.two {
    background-color: var(--two-bg);
    color: var(--two-name-p-color);
    
    .title, blockquote{
        color: var(--two-t-bq-color);
    }
}

.three {
    background-color: var(--three-five-bg);
    color: var(--three-five-name-p-color);

    .title, blockquote{
        color: var(--three-five-t-bq-color);
    }
}

.four {
    background-color: var(--four-bg);
    color: var(--four-name-title-color);
    
    .highlight{
        color: var(--four-highlight-color);
    }

    blockquote {
        color: var(--four-bq-color);
    }
    
    .avatar{
    border: solid var(--one-bg) .125rem;
    }
}

.five {
    background-color: var(--three-five-bg);
    color: var(--three-five-name-p-color);

    .title, blockquote{
        color: var(--three-five-t-bq-color);
    }
}
/* #endregion */

/* #region header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.avatar{
    border-radius: 100%;
    height: 1.75rem;
}

h3 {
    line-height: 110%;
    margin-bottom: .25rem;
    font-size: var(--fs);
}

.title{
    line-height: 110%;
    font-size: .6875rem;
}

.highlight{
    line-height: 120%;
    font-size: 1.25rem;
    margin: 1rem 0 1rem 0;
}

.comment{
    line-height: 140%;
}
/* #endregion */

/* media queries */

/* tablet */
@media (min-width: 48rem){
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 40.4375rem;
    gap: 1rem;
}

.one {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.five {
    grid-column: 1 / span 2;
    grid-row: 4;
}    
}

/* desktop */
@media (min-width: 64rem) {
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 69.625rem;
    max-height: 36.375rem;
    gap: 1rem;
}

.one {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.two {
    grid-column: 3;
    grid-row: 1;
}

.three {
    grid-column: 1;
    grid-row: 2;
}

.four {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.five {
    grid-column: 4;
    grid-row: 1 / span 2;
}
}